# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables and build results
*.exe
*.out
*.app
*.bin
/*-build/
build-*/

# CMake Results
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# QTCreator Files
*.user

# LaTeX Results
*.aux
*.log
*.nav
*.snm
*.synctex.gz
*.toc
*-eps-converted-to.pdf

# Ignore specific files
/zwischenpraesentation/ShapeFromX.pdf
/praesentation/Streifenprojektion.pdf
/ausarbeitung/Streifenprojektion.pdf
